.div-btns {
    margin-top: 15px;
    display: flex;
    gap: 5px;
    align-items: center;
}

button {
    width: fit-content;
    padding: 6px 15px;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    background: var(--primary-color);
    font-size: 11px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background: var(--hover-primary-color);
    border: 1px solid var(--hover-primary-color)
}

#btn-cancelar {
    background: #fff;
    color: var(--primary-color);
}

#btn-cancelar:hover {
    background: var(--hover-primary-color);
    color: #fff;
}


.floating-buttons {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 2;
}

.floating-buttons button {
    width: 50px;
    height: 50px;
    padding: 7px;
    font-size: 30px;
}
