form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 3px;
    background: #fff;
}

#form-user-page {
    padding: 70px 30px 30px 30px;
    justify-content: left;
    gap: 0 20px;
    position: relative;
    box-shadow: 0 0 .3em #cdcdcd;
}
#form-user-page .contents-cabecalho {
    position: absolute;
    top: 0;
    left: 0;
}

#form-user-page label {
    width: 49%;
    padding: 0;
}


form .contents-cabecalho {
    font-size: 11px;
    border-radius: 3px 3px 0 0;
}

form label {
    width: 100%;
    padding: 20px 30px 10px 30px;
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

form label div {
    height: 40px;
    margin: 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: #f0f4fc;
    border-radius: 3px;
}

form label div i {
    width: 40px;
    text-align: center;
    font-size: 14px;
    color: #606060;
    z-index: 1
}

form label div input,
form label div select {
    width: 100%;
    padding: 12px 12px 12px 40px;
    position: absolute;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    background: transparent;
}

form label div input:focus,
form label div select:focus {
    outline-color: var(--primary-color);
}

form .div-btns {
    width: 100%;
    justify-content: left;
}

.msg-input-erro {
    margin: 0 0 8px 0;
    color: #ff6c6c;
}


.box-form {
    width: 48%;
    padding: 0 0 10px 0;
    margin: 12px;
    box-shadow: 0 0 .3em #cdcdcd;
}

#box-form-first {
    width: 99%;
    height: fit-content;
}
.box-form div {
    margin: 0 0 10px 0;
}

.required-input {
    color: #f00;
}

#select2-select-container {
    padding: 0 !important;
}

.select2-selection {
    border: none !important;
    background: #f0f4fc !important;
}
