@import url('menu-lateral.css');
@import url('table.css');
@import url('form.css');
@import url('buttons.css');

:root {
    --primary-color: #005876;
    --hover-primary-color: #00384b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f1f1f1;
}

.principal {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.centro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 .3em #cdcdcd;
    background: #fff;
    overflow: auto;
}

.contents-cabecalho {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    color: #fff;
    font-size: 17px;
}
.contents-cabecalho h2 {
    font-weight: 100;
}
.contents-cabecalho i {
    font-size: 25px;
}

.conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding: 30px 30px 0 30px;
    background: #fff;
}
.conteudo h2 {
    margin: 0 0 20px 0;
    font-weight: 100;
}

.links-container {
    width: 860px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 .3em #cdcdcd;
    background: #f1f1f6;
}
.links-container .contents-cabecalho {
    justify-content: center;
}
.links-container .contents-cabecalho h2,
form .contents-cabecalho h2 {
    margin: 0;
}

.links-boxs {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    align-items: stretch; /* Faz as divs terem a mesma altura */
    flex-wrap: wrap;
    gap: 15px;
}

.link-box {
    width: 190px;
    min-height: 150px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 3px;
    background: var(--primary-color);
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    cursor: pointer;
}


.link-box:hover {
    background: var(--hover-primary-color);
}

.link-box i {
    font-size: 50px;
}

.rodape {
    width: 100%;
    position: relative;
    margin-top: auto;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    color: #808080;
}


.alert-text {
    width: fit-content;
    margin: 0 0 20px 0;
    padding: 5px;
    border: 1px solid #a6a600;
    border-radius: 3px;
    background: #ffffdd;
    color: #a6a600;
    font-size: 11px;
    font-weight: bold;
}

.alert-error,
.alert-success,
.alert-info {
    padding: 10px 15px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 3px;
    background: #ff6666;
    color: #fff;
    animation: alert 5s ease 5s forwards;
}

.alert-success {
    background: #60cd60;
}

.alert-info {
    background: #f0cc00;
}
@keyframes alert {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
